<Settings title="Web">
  <maskingType>Clipping</maskingType>
  <curveDegree>Cubic</curveDegree>
  <expandSymbols>Nested</expandSymbols>
  <applyTransformations>false</applyTransformations>
  <decimalPointPrecision>3</decimalPointPrecision>
  <fillGaps>false</fillGaps>
  <knockoutBackgroundColor>false</knockoutBackgroundColor>
  <convertTextToOutlines>true</convertTextToOutlines>
  <convertPatternsToSymbols>false</convertPatternsToSymbols>
</Settings>