<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<title>$docTitle</title>
<!--Adobe Edge Runtime-->
    <script type="text/javascript" charset="utf-8" src="$docTitle_edgePreload.js"></script>
    <style>
        .edgeLoad-$docTitle { visibility:hidden; }
    </style>
<!--Adobe Edge Runtime End-->

</head>
<body style="margin:0;padding:0;">
	<div id="Stage" class="$docTitle">
	</div>
</body>
</html>